/* Barre de navigation */
@font-face {
font-family: "hangar";
src: url('hangar-flat.ttf')format('truetype');
src: url('hangar-flat-webfont.woff') format ('woff');
src: url('hangar-flat-webfont.woff2') format ('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: "3dumbregular";
    src: url('3dumb-webfont.woff2') format('woff2'),
         url('3dumb-webfont.woff') format('woff'), 
         url('3dumb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    

}

/*Header*/
.topnav {
    background-color: cornflowerblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
    font-family:  Arial;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#myheader {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

/* Bouton de login */

#login {
    float: right;
}

#profile{
    float: right;
}

/* Image loupe */

#searchlogo {
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

/* Logo du site */

#logo {
    height: 50px;
    width: 50px;
    float: left;
}

/* Zones de saisie */
.pseudoEtMDP {
    font-weight:bold;
    font-family:"3dumbregular";
}

[type='text'],[type='password'] {
    width:150px;
    min-width: 100px;
    height: 35px;
    border: 2px solid black;
    padding-left: 10px;
    box-shadow: 4px 4px 6px black;
    font-style: italic;
    box-shadow: /*0 0 10px 0 rgba(0,0,200,0.2) ,*/ 0px 5px 7px 1px rgba(0,50,200,0.35);
}

[type='text']:focus,[type='password']:focus {
    background-color: #ddd;
    font-family: Arial;
     font-style: normal;
}

form {
    
    text-align: center;
    padding-top: 50px;
}

#searchbar {
    width: 250px;
}


/* Boutons */

[type='submit'] {
    margin-top: 5px;
    background-color: white;
    height: 42px;
    width:165px;
    border: 2px solid black;
    font-family:"hangar";
    letter-spacing: 1px;
    color: cornflowerblue;
    box-shadow: /*0 0 10px 0 rgba(0,0,200,0.2) ,*/ 0px 2px 5px 1px rgba(0,50,200,0.5)     ;
//box shadow rightleft upDown blurintensity withOfblur
}

[type='submit']:hover {
    background-color: cornflowerblue;
    color:white;
}

/* Mise en page des informations du produit */

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 300px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

th {
    border: 4px solid cornflowerblue;
    font-size: 25px;
}

td {
    border: 2px solid black;
}

/* Case relative au prix */

#basket {
    margin-top: 10px;
    padding-bottom: 20px;
}

#addbasket {
    margin-bottom: 10px;
    width: auto;
}

/* Pied de page */

footer {
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 10px;
}

#myfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* Fond de page */

body {
    background-color: powderblue;
    margin-bottom: 90px;
}

/* Liste d'exemples de recherches */

#ex {
    display: block;
	margin-top: 10px;
    margin-left: 34.3%;
}